
packages/Detours.4.0.1/lib/native/libs/x86/syelog.lib
packages/Detours.4.0.1/lib/native/libs/x86/detours.pdb
packages/Detours.4.0.1/lib/native/libs/x86/detours.lib
packages/Detours.4.0.1/lib/native/libs/x64/syelog.lib
packages/Detours.4.0.1/lib/native/libs/x64/detours.pdb
packages/Detours.4.0.1/lib/native/libs/x64/detours.lib
packages/Detours.4.0.1/lib/native/include/syelog.h
packages/Detours.4.0.1/lib/native/include/detver.h
packages/Detours.4.0.1/lib/native/include/detours.h
packages/Detours.4.0.1/Detours.4.0.1.nupkg
packages/Detours.4.0.1/build/native/Detours.targets
packages/Detours.4.0.1/.signature.p7s
bad_vivox/x64/Release/winmm_asm.obj
bad_vivox/x64/Release/winmm.tlog/winmm.write.1u.tlog
bad_vivox/x64/Release/winmm.tlog/winmm.lastbuildstate
bad_vivox/x64/Release/winmm.tlog/Masm.write.1u.tlog
bad_vivox/x64/Release/winmm.tlog/Masm.read.1u.tlog
bad_vivox/x64/Release/winmm.tlog/link.write.1.tlog
bad_vivox/x64/Release/winmm.tlog/link.read.1.tlog
bad_vivox/x64/Release/winmm.tlog/link.command.1.tlog
bad_vivox/x64/Release/winmm.tlog/CL.write.1.tlog
bad_vivox/x64/Release/winmm.tlog/CL.read.1.tlog
bad_vivox/x64/Release/winmm.tlog/CL.command.1.tlog
bad_vivox/x64/Release/winmm.pch
bad_vivox/x64/Release/winmm.dll.recipe
bad_vivox/x64/Release/winmm.Build.CppClean.log
bad_vivox/x64/Release/vc142.pdb
bad_vivox/x64/Release/pch.obj
bad_vivox/x64/Release/dllmain.obj
bad_vivox/x64/Release/bad_vivox.vcxproj.FileListAbsolute.txt
bad_vivox/x64/Release/bad_vivox.tlog/unsuccessfulbuild
bad_vivox/x64/Release/bad_vivox.tlog/Masm.write.1u.tlog
bad_vivox/x64/Release/bad_vivox.tlog/Masm.read.1u.tlog
bad_vivox/x64/Release/bad_vivox.tlog/link.write.1.tlog
bad_vivox/x64/Release/bad_vivox.tlog/link.read.1.tlog
bad_vivox/x64/Release/bad_vivox.tlog/link.command.1.tlog
bad_vivox/x64/Release/bad_vivox.tlog/CL.write.1.tlog
bad_vivox/x64/Release/bad_vivox.tlog/CL.read.1.tlog
bad_vivox/x64/Release/bad_vivox.tlog/CL.command.1.tlog
bad_vivox/x64/Release/bad_vivox.tlog/bad_vivox.write.1u.tlog
bad_vivox/x64/Release/bad_vivox.tlog/bad_vivox.lastbuildstate
bad_vivox/x64/Release/bad_vivox.log
bad_vivox/x64/Release/bad_vivox.dll.recipe
.vs/bad_vivox/v16/ipch/c28021db2e846fc.ipch
.vs/bad_vivox/v16/ipch/b91e4c6996ec6ad.ipch
.vs/bad_vivox/v16/ipch/AutoPCH/c7b44ac58fac1980/DLLMAIN.ipch
.vs/bad_vivox/v16/ipch/99f5eeabffb6d387.ipch
.vs/bad_vivox/v16/ipch/7f07f2e0e5b196c.ipch
.vs/bad_vivox/v16/Browse.VC.opendb
.vs/bad_vivox/v16/Browse.VC.db-wal
.vs/bad_vivox/v16/Browse.VC.db-shm
.vs/bad_vivox/v16/Browse.VC.db
.vs/bad_vivox/v16/.suo
x64/Release/bad_vivox.iobj
x64/Release/bad_vivox.ipdb
x64/Release/bad_vivox.pdb
x64/Release/winmm.dll
x64/Release/winmm.exp
x64/Release/winmm.iobj
x64/Release/winmm.ipdb
x64/Release/winmm.lib
x64/Release/winmm.pdb
